<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoroll"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rollthedice_foreground"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.RollTheDice"
        tools:targetApi="31">
        <activity
            android:name="com.nadrial.rollthedice.Activities.Dice"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.Activities.Login"
            android:exported="true">
        </activity>

        <activity
            android:name="com.nadrial.rollthedice.Activities.Profile"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.Activities.Register"

            android:exported="true"
            android:parentActivityName="com.nadrial.rollthedice.Activities.Login"
            />
        <activity
            android:name="com.nadrial.rollthedice.Activities.TransitionDiceIntoQuestion"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.Activities.Results"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.Activities.MainMenu"
            android:exported="true"/>
        <activity
            android:name="com.nadrial.rollthedice.Activities.Question"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.Activities.Statistics"
            android:exported="true"
            android:parentActivityName="com.nadrial.rollthedice.Activities.MainMenu"
            />
        <activity
            android:name="com.nadrial.rollthedice.Activities.Splash"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.nadrial.rollthedice.Activities.Rankings"
            android:exported="true"
            android:parentActivityName="com.nadrial.rollthedice.Activities.MainMenu"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>