<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoroll"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rollthedice_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.RollTheDice"
        tools:targetApi="31">
        <activity
            android:name="com.nadrial.rollthedice.View.LoginView"
            android:exported="true">
        </activity>
        <activity
            android:name="com.nadrial.rollthedice.View.DiceView"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.View.RegisterView"

            android:exported="true"
            android:parentActivityName="com.nadrial.rollthedice.View.LoginView"
            />
        <activity
            android:name="com.nadrial.rollthedice.View.TransitionView"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.View.ResultsView"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.View.MainView"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.View.QuestionView"
            android:exported="true"
            />
        <activity
            android:name="com.nadrial.rollthedice.View.RecordsView"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:exported="true"
            android:parentActivityName="com.nadrial.rollthedice.View.MainView"
            />
        <activity
            android:name="com.nadrial.rollthedice.View.SplashView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nadrial.rollthedice.View.StatisticsView"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:exported="true"
            android:parentActivityName="com.nadrial.rollthedice.View.MainView"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>